#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.grid-container {
  display: grid;
  grid-template-areas:
      'header'
      'main'
      'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}


header {
  grid-area: header;
  background-color: #203040;
}


main {
  grid-area: main;
  padding: 1rem;
}


footer {
  grid-area: footer;
  background-color: #203040;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center
}


h1, h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: orange;
} 

.badge {
  background-color: #f02020;
  color:white;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

button:hover {
  border: 0.2rem #404040 solid;
}

button.primary {
  background-color: gold;
}

button.block {
  width: 100%
}

header a {
  color: white;
  padding: 1rem;
}

a.brand {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.row.center {
  justify-content: center;

}

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100rem;
}
img.medium {
  max-width: 30rem;
  width: 100%;
}

img.large {
  width: 100%
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

.card {
  border: 0.1rem gray solid;
  background-color: lightgray;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body h2 {
  max-width: 25rem;
}


.card-body > *{
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

.rating span {
  color: gold;
  margin: 0.1rem;
}

.rating span:last-child {
  color: black;
}

.row.top {
  align-items: flex-start;
}

.loading {
  display: block !important;
}

.success {
  color: green;
}
.danger {
  color: red
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
  
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;

}

.dropdown:hover .dropdown-content{
  display: block;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
}

.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

